![Nuclio logo](https://nuclio.school/wp-content/uploads/2018/12/nucleoDS-newBlack.png)

# Módulo 5: Aprendizaje Supervisado. Proyecto final.
## Probabilidad de impago financiero.

* [A. Introducción](#introduction)
    * [A.1. Conjunto de datos](#dataset)
    * [A.1. Objetivo](#objetive)
* [B. Importar librerías](#libraries)
* [C. Importar datos](#data)


* [1. Entendimiento de los datos](#data_understanding)
    * [1.1: Análisis univariado de datos](#univariate_data_analysis)
        * [1.1.1. Tamaño del dataset](#dataset_size)
        * [1.1.2. Visualización directa de los datos](#direct_visualization)
        * [1.1.3. Tipos de las variables](#variable_types)
        * [1.1.4. Estadística descriptiva](#descriptive_statistics)
        * [1.1.5. Valores nulos](#null_values)
        * [1.1.6. Distribución de la variable target](#target_distribution)
        * [1.1.7-2.1.10. Variables distribution & relations with target](#variables_distribution)
    * [1.2. MLC2.2.: Analisis multivariado de los datos](#multivariate_data_analysis)

 <!--- 
        
* [3. MLC3: Data preparation](#data_preparation)
    * [3.1. MLC 3.1. Data cleaning](#data_cleaning)
        * [3.1.1. Dealing with variable types](#dealing_variable_types)
        * [3.1.2. Imputation of null values](#nulls_imputation)
        * [3.1.4. Elimination of features with low variance](#low_variance)
    * [3.2. MLC 3.2. Data transformation](#data_transformation)
        * [3.2.1. Transformation of categorical variables](#transformation_categorical)
    * [3.3. MLC 3.3. Feature engineering](#feature_engineering)



* [4. MLC4: Modelling](#modelling)
    * [4.1. MLC 4.1. Data partition and sampling](#dataset_partition)
        * [Random hold hout](#random_holdout)
        * [K-fold cross-validation](#k_fold)
    * [4.2. MLC 4.2. Model definition](#model_definition)
    * [4.3. MLC 4.3. Model optimization](#model_optimization)
        * [4.3.1. Hyperparameter optimization](#hyperparameter_optimization)
        * [4.3.2. Ensemble models](#ensemble_models)


* [5. MLC5: Evaluation](#model_evaluation)
-->

## A. Introducción <a class="anchor" id="introduction"></a>

En este proyecto usaremos el Aprendizaje Supervisado para la predicción de impagos financieros.

### Conjuto de datos <a class="anchor" id="dataset"></a>
Usaremos una competición de Kaggle, la cuál podemos acceder desde el siguiente enlace:

https://www.kaggle.com/c/home-credit-default-risk/

### Objetivo <a class="anchor" id="objetive"></a>
Desarrollar un proyecto de modelización supervisada para predecir la probabilidad de impago financiero.

El trabajo debe incluir todas las etapas contempladas en la checklist de ML vista en la sesión 1:
1. **Entendimiento de los datos** 
2. **Preparación de los datos**
3. **Modelización**
4. **Evaluación**

El código tendrá que estar correctamente organizado y comentado para facilitar su comprensión, y deberá poder ejecutarse sin errores. No hay restricciones en cuanto al uso de las técnicas y algoritmos supervisados que se consideren.

## B. Importar librerías<a id="libraries"></a>
Primero vamos a importar 3 librerías utilizadas para el Análisis de Datos en ML:

In [22]:
# Librerías para trabajar con datos (Series y DataFrames)
import numpy as np
import pandas as pd

# Librería de visualización
import plotly.express as px

# Librería de análisis exploratorio
from pandas_profiling import ProfileReport

También usaremos la librería de preprocesamiento de **scikit-learn**.

In [23]:
from sklearn import preprocessing

Realizamos algunos ajustes para corregir las visualizaciónes

In [24]:
# Ajustamos las opciones de pandas para que nos devuelva todas las filas que queremos visualizar
pd.set_option('display.max_rows', 150)

# Ajustamos para que los valores float se muestren con dos decimales
pd.options.display.float_format = '{:,.2f}'.format

## C. Importar datos <a id="data"></a>
Antes de comenzar con la Checklist del proyecto, importaremos los datos. El conjunto de datos está disponible en el enlace de Kaggle indicado en el apartado anterior ['Conjunto de datos'](#dataset). 

En este caso sólo usaremos dos dataset: **application_train.csv** y **application_test.csv**:
* Ambos son los datos principales, divididos en dos archivos para el entreno del modelo (con TARGET) y el testeo (sin TARGET).
* Una fila representa un préstamo en nuestra muestra de datos.

Uniremos los dos dataframes y le asignaremos un valor 'UNK' en la variable target. Así podemos hacer la parte de Análisis de Datos (limpieza, visualización y preprocesamiento) con todo el conjunto de datos.

In [25]:
%%time
# Para resetear el index le asignamos la primera columna y luego el método reset_index.
df_train = pd.read_csv('./data/application_train.csv', index_col=0).reset_index()
df_test = pd.read_csv('./data/application_test.csv', index_col=0).reset_index()

In [ ]:
# Identificamos el nombre de la columna utilizado en el DF Train (nombre de la columna en train que no está en test)
[col for col in df_train.columns.to_list() if col not in df_test.columns.to_list()]

['TARGET']

In [ ]:
# Creamos la columna TARGET en df_test
df_test['TARGET'] = 'UNK'

In [ ]:
# Comprobamos que los dos DF tienen las mismas columnas
assert [col for col in df_train.columns.to_list() if col not in df_test.columns.to_list()] == []

In [ ]:
# Unimos los dos DFs
df = pd.concat([df_train, df_test]).reset_index(drop=True)

In [ ]:
# Comprobamos que las filas de df es la suma de las filas de train y test
assert len(df_train)+len(df_test) == len(df)
# Comprobamos que tienen el mísmo numero de columnas
assert df_train.shape[1] == df_test.shape[1] == df.shape[1]

***

# 1. Entendimiento de los datos <a id="data_understanding"></a>

## 1.1: Análisis univariado de los datos <a id="univariate_data_analysis"></a>

### 1.1.1. Tamaño del dataset <a id="dataset_size"></a>

In [ ]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356255 entries, 0 to 356254
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(40), object(17)
memory usage: 331.6+ MB

In [ ]:
# Mostramos la forma del dataset
df.shape

(356255, 122)

### 1.1.2.  Visualización directa de los datos <a id="direct_visualization"></a>

In [ ]:
# Visualizamos 3 muestras aleatorias del dataset
df.sample(3).T

,46766,226593,210374
SK_ID_CURR,154170,362470,343788
TARGET,0,0,0
NAME_CONTRACT_TYPE,Cash loans,Cash loans,Cash loans
CODE_GENDER,M,M,F
FLAG_OWN_CAR,N,Y,N
FLAG_OWN_REALTY,N,Y,N
CNT_CHILDREN,0,1,0
AMT_INCOME_TOTAL,"225,000.00","202,500.00","157,500.00"
AMT_CREDIT,"1,078,200.00","970,380.00","1,350,000.00"
AMT_ANNUITY,"38,331.00","28,372.50","39,474.00"
AMT_GOODS_PRICE,"900,000.00","810,000.00","1,350,000.00"
NAME_TYPE_SUITE,Unaccompanied,"Spouse, partner",Unaccompanied
NAME_INCOME_TYPE,Working,Commercial associate,Commercial associate
NAME_EDUCATION_TYPE,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special
NAME_FAMILY_STATUS,Married,Married,Widow
NAME_HOUSING_TYPE,House / apartment,House / apartment,House / apartment
REGION_POPULATION_RELATIVE,0.01,0.03,0.01
DAYS_BIRTH,-15338,-15494,-21245
DAYS_EMPLOYED,-812,-7764,-1005
DAYS_REGISTRATION,"-3,724.00","-8,181.00","-7,911.00"
DAYS_ID_PUBLISH,-4714,-4008,-4051
OWN_CAR_AGE,NaN,17.00,NaN
FLAG_MOBIL,1,1,1
FLAG_EMP_PHONE,1,1,1
FLAG_WORK_PHONE,0,0,1
FLAG_CONT_MOBILE,1,1,1
FLAG_PHONE,0,1,1
FLAG_EMAIL,0,0,0
OCCUPATION_TYPE,Laborers,NaN,Sales staff
CNT_FAM_MEMBERS,2.00,3.00,1.00
REGION_RATING_CLIENT,2,1,2
REGION_RATING_CLIENT_W_CITY,2,1,2
WEEKDAY_APPR_PROCESS_START,SATURDAY,SUNDAY,FRIDAY
HOUR_APPR_PROCESS_START,15,14,11
REG_REGION_NOT_LIVE_REGION,0,0,0
REG_REGION_NOT_WORK_REGION,0,0,0
LIVE_REGION_NOT_WORK_REGION,0,0,0
REG_CITY_NOT_LIVE_CITY,0,0,0
REG_CITY_NOT_WORK_CITY,0,0,0
LIVE_CITY_NOT_WORK_CITY,0,0,0
ORGANIZATION_TYPE,Construction,Business Entity Type 2,Business Entity Type 3
EXT_SOURCE_1,0.65,NaN,NaN
EXT_SOURCE_2,0.52,0.70,0.28
EXT_SOURCE_3,0.26,0.69,0.28
APARTMENTS_AVG,NaN,0.33,0.12
BASEMENTAREA_AVG,NaN,NaN,0.12
YEARS_BEGINEXPLUATATION_AVG,NaN,0.98,0.99
YEARS_BUILD_AVG,NaN,NaN,0.84
COMMONAREA_AVG,NaN,NaN,0.06
ELEVATORS_AVG,NaN,0.36,0.00
ENTRANCES_AVG,NaN,0.31,0.28
FLOORSMAX_AVG,NaN,0.33,0.17
FLOORSMIN_AVG,NaN,NaN,0.21
LANDAREA_AVG,NaN,0.15,0.14
LIVINGAPARTMENTS_AVG,NaN,NaN,0.10
LIVINGAREA_AVG,NaN,0.33,0.11
NONLIVINGAPARTMENTS_AVG,NaN,NaN,0.00
NONLIVINGAREA_AVG,NaN,0.01,0.00
APARTMENTS_MODE,NaN,0.34,0.13
BASEMENTAREA_MODE,NaN,NaN,0.12
YEARS_BEGINEXPLUATATION_MODE,NaN,0.98,0.99
YEARS_BUILD_MODE,NaN,NaN,0.85
COMMONAREA_MODE,NaN,NaN,0.06
ELEVATORS_MODE,NaN,0.36,0.00
ENTRANCES_MODE,NaN,0.31,0.28
FLOORSMAX_MODE,NaN,0.33,0.17
FLOORSMIN_MODE,NaN,NaN,0.21
LANDAREA_MODE,NaN,0.16,0.14
LIVINGAPARTMENTS_MODE,NaN,NaN,0.11
LIVINGAREA_MODE,NaN,0.34,0.12
NONLIVINGAPARTMENTS_MODE,NaN,NaN,0.00
NONLIVINGAREA_MODE,NaN,0.01,0.00
APARTMENTS_MEDI,NaN,0.33,0.12
BASEMENTAREA_MEDI,NaN,NaN,0.12
YEARS_BEGINEXPLUATATION_MEDI,NaN,0.98,0.99
YEARS_BUILD_MEDI,NaN,NaN,0.85
COMMONAREA_MEDI,NaN,NaN,0.06
ELEVATORS_MEDI,NaN,0.36,0.00
ENTRANCES_MEDI,NaN,0.31,0.28
FLOORSMAX_MEDI,NaN,0.33,0.17
FLOORSMIN_MEDI,NaN,NaN,0.21
LANDAREA_MEDI,NaN,0.16,0.14
LIVINGAPARTMENTS_MEDI,NaN,NaN,0.10
LIVINGAREA_MEDI,NaN,0.33,0.12
NONLIVINGAPARTMENTS_MEDI,NaN,NaN,0.00
NONLIVINGAREA_MEDI,NaN,0.01,0.00
FONDKAPREMONT_MODE,NaN,NaN,reg oper account
HOUSETYPE_MODE,NaN,block of flats,block of flats
TOTALAREA_MODE,NaN,0.26,0.09
WALLSMATERIAL_MODE,NaN,Panel,Panel
EMERGENCYSTATE_MODE,NaN,No,No
OBS_30_CNT_SOCIAL_CIRCLE,8.00,6.00,0.00
DEF_30_CNT_SOCIAL_CIRCLE,0.00,0.00,0.00
OBS_60_CNT_SOCIAL_CIRCLE,8.00,6.00,0.00
DEF_60_CNT_SOCIAL_CIRCLE,0.00,0.00,0.00
DAYS_LAST_PHONE_CHANGE,"-1,670.00","-1,612.00",-271.00
FLAG_DOCUMENT_2,0,0,0
FLAG_DOCUMENT_3,1,1,1
FLAG_DOCUMENT_4,0,0,0
FLAG_DOCUMENT_5,0,0,0
FLAG_DOCUMENT_6,0,0,0
FLAG_DOCUMENT_7,0,0,0
FLAG_DOCUMENT_8,0,0,0
FLAG_DOCUMENT_9,0,0,0
FLAG_DOCUMENT_10,0,0,0
FLAG_DOCUMENT_11,0,0,0
FLAG_DOCUMENT_12,0,0,0
FLAG_DOCUMENT_13,0,0,0
FLAG_DOCUMENT_14,0,0,0
FLAG_DOCUMENT_15,0,0,0
FLAG_DOCUMENT_16,0,0,0
FLAG_DOCUMENT_17,0,0,0
FLAG_DOCUMENT_18,0,0,0
FLAG_DOCUMENT_19,0,0,0
FLAG_DOCUMENT_20,0,0,0
FLAG_DOCUMENT_21,0,0,0
AMT_REQ_CREDIT_BUREAU_HOUR,0.00,0.00,0.00
AMT_REQ_CREDIT_BUREAU_DAY,0.00,0.00,0.00
AMT_REQ_CREDIT_BUREAU_WEEK,0.00,0.00,0.00
AMT_REQ_CREDIT_BUREAU_MON,1.00,0.00,0.00
AMT_REQ_CREDIT_BUREAU_QRT,0.00,0.00,0.00
AMT_REQ_CREDIT_BUREAU_YEAR,2.00,5.00,2.00

### 1.1.3. Tipos de las variables<a id="variable_types"></a>

In [ ]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356255 entries, 0 to 356254
Data columns (total 122 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int64
 1    TARGET                        object
 2    NAME_CONTRACT_TYPE            object
 3    CODE_GENDER                   object
 4    FLAG_OWN_CAR                  object
 5    FLAG_OWN_REALTY               object
 6    CNT_CHILDREN                  int64
 7    AMT_INCOME_TOTAL              float64
 8    AMT_CREDIT                    float64
 9    AMT_ANNUITY                   float64
 10   AMT_GOODS_PRICE               float64
 11   NAME_TYPE_SUITE               object
 12   NAME_INCOME_TYPE              object
 13   NAME_EDUCATION_TYPE           object
 14   NAME_FAMILY_STATUS            object
 15   NAME_HOUSING_TYPE             object
 16   REGION_POPULATION_RELATIVE    float64
 17   DAYS_BIRTH                    int64
 18   DAYS_EMPLOYED                 int64
 19   DAYS_REGISTRATION             float64
 20   DAYS_ID_PUBLISH               int64
 21   OWN_CAR_AGE                   float64
 22   FLAG_MOBIL                    int64
 23   FLAG_EMP_PHONE                int64
 24   FLAG_WORK_PHONE               int64
 25   FLAG_CONT_MOBILE              int64
 26   FLAG_PHONE                    int64
 27   FLAG_EMAIL                    int64
 28   OCCUPATION_TYPE               object
 29   CNT_FAM_MEMBERS               float64
 30   REGION_RATING_CLIENT          int64
 31   REGION_RATING_CLIENT_W_CITY   int64
 32   WEEKDAY_APPR_PROCESS_START    object
 33   HOUR_APPR_PROCESS_START       int64
 34   REG_REGION_NOT_LIVE_REGION    int64
 35   REG_REGION_NOT_WORK_REGION    int64
 36   LIVE_REGION_NOT_WORK_REGION   int64
 37   REG_CITY_NOT_LIVE_CITY        int64
 38   REG_CITY_NOT_WORK_CITY        int64
 39   LIVE_CITY_NOT_WORK_CITY       int64
 40   ORGANIZATION_TYPE             object
 41   EXT_SOURCE_1                  float64
 42   EXT_SOURCE_2                  float64
 43   EXT_SOURCE_3                  float64
 44   APARTMENTS_AVG                float64
 45   BASEMENTAREA_AVG              float64
 46   YEARS_BEGINEXPLUATATION_AVG   float64
 47   YEARS_BUILD_AVG               float64
 48   COMMONAREA_AVG                float64
 49   ELEVATORS_AVG                 float64
 50   ENTRANCES_AVG                 float64
 51   FLOORSMAX_AVG                 float64
 52   FLOORSMIN_AVG                 float64
 53   LANDAREA_AVG                  float64
 54   LIVINGAPARTMENTS_AVG          float64
 55   LIVINGAREA_AVG                float64
 56   NONLIVINGAPARTMENTS_AVG       float64
 57   NONLIVINGAREA_AVG             float64
 58   APARTMENTS_MODE               float64
 59   BASEMENTAREA_MODE             float64
 60   YEARS_BEGINEXPLUATATION_MODE  float64
 61   YEARS_BUILD_MODE              float64
 62   COMMONAREA_MODE               float64
 63   ELEVATORS_MODE                float64
 64   ENTRANCES_MODE                float64
 65   FLOORSMAX_MODE                float64
 66   FLOORSMIN_MODE                float64
 67   LANDAREA_MODE                 float64
 68   LIVINGAPARTMENTS_MODE         float64
 69   LIVINGAREA_MODE               float64
 70   NONLIVINGAPARTMENTS_MODE      float64
 71   NONLIVINGAREA_MODE            float64
 72   APARTMENTS_MEDI               float64
 73   BASEMENTAREA_MEDI             float64
 74   YEARS_BEGINEXPLUATATION_MEDI  float64
 75   YEARS_BUILD_MEDI              float64
 76   COMMONAREA_MEDI               float64
 77   ELEVATORS_MEDI                float64
 78   ENTRANCES_MEDI                float64
 79   FLOORSMAX_MEDI                float64
 80   FLOORSMIN_MEDI                float64
 81   LANDAREA_MEDI                 float64
 82   LIVINGAPARTMENTS_MEDI         float64
 83   LIVINGAREA_MEDI               float64
 84   NONLIVINGAPARTMENTS_MEDI      float64
 85   NONLIVINGAREA_MEDI            float64
 86   FONDKAPREMONT_MODE            object
 87   HOUSETYPE_MODE                object
 88   TOTALAREA_MODE                float64
 89   WALLSMATERIAL_MODE            object
 90   EMERGENCYSTATE_MODE           object
 91   OBS_30_CNT_SOCIAL_CIRCLE      float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      float64
 95   DAYS_LAST_PHONE_CHANGE        float64
 96   FLAG_DOCUMENT_2               int64
 97   FLAG_DOCUMENT_3               int64
 98   FLAG_DOCUMENT_4               int64
 99   FLAG_DOCUMENT_5               int64
 100  FLAG_DOCUMENT_6               int64
 101  FLAG_DOCUMENT_7               int64
 102  FLAG_DOCUMENT_8               int64
 103  FLAG_DOCUMENT_9               int64
 104  FLAG_DOCUMENT_10              int64
 105  FLAG_DOCUMENT_11              int64
 106  FLAG_DOCUMENT_12              int64
 107  FLAG_DOCUMENT_13              int64
 108  FLAG_DOCUMENT_14              int64
 109  FLAG_DOCUMENT_15              int64
 110  FLAG_DOCUMENT_16              int64
 111  FLAG_DOCUMENT_17              int64
 112  FLAG_DOCUMENT_18              int64
 113  FLAG_DOCUMENT_19              int64
 114  FLAG_DOCUMENT_20              int64
 115  FLAG_DOCUMENT_21              int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    float64
 119  AMT_REQ_CREDIT_BUREAU_MON     float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    float64
dtypes: float64(65), int64(40), object(17)
memory usage: 331.6+ MB

### 1.1.4. Estadística descriptiva <a id="descriptive_statistics"></a>

In [ ]:
# Análisis de la distribución de las variables numéricas
df.describe().T

,count,mean,std,min,25%,50%,75%,max
SK_ID_CURR,"356,255.00","278,128.00","102,842.10","100,001.00","189,064.50","278,128.00","367,191.50","456,255.00"
CNT_CHILDREN,"356,255.00",0.41,0.72,0.00,0.00,0.00,1.00,20.00
AMT_INCOME_TOTAL,"356,255.00","170,116.06","223,506.82","25,650.00","112,500.00","153,000.00","202,500.00","117,000,000.00"
AMT_CREDIT,"356,255.00","587,767.41","398,623.69","45,000.00","270,000.00","500,211.00","797,557.50","4,050,000.00"
AMT_ANNUITY,"356,219.00","27,425.56","14,732.81","1,615.50","16,731.00","25,078.50","34,960.50","258,025.50"
AMT_GOODS_PRICE,"355,977.00","528,020.00","366,064.99","40,500.00","234,000.00","450,000.00","675,000.00","4,050,000.00"
REGION_POPULATION_RELATIVE,"356,255.00",0.02,0.01,0.00,0.01,0.02,0.03,0.07
DAYS_BIRTH,"356,255.00","-16,041.25","4,358.80","-25,229.00","-19,676.00","-15,755.00","-12,425.00","-7,338.00"
DAYS_EMPLOYED,"356,255.00","64,317.23","141,705.53","-17,912.00","-2,781.00","-1,224.00",-290.00,"365,243.00"
DAYS_REGISTRATION,"356,255.00","-4,983.59","3,526.97","-24,672.00","-7,477.00","-4,502.00","-1,995.00",0.00
DAYS_ID_PUBLISH,"356,255.00","-3,002.07","1,517.90","-7,197.00","-4,318.00","-3,252.00","-1,717.00",0.00
OWN_CAR_AGE,"121,014.00",12.02,11.88,0.00,5.00,9.00,15.00,91.00
FLAG_MOBIL,"356,255.00",1.00,0.00,0.00,1.00,1.00,1.00,1.00
FLAG_EMP_PHONE,"356,255.00",0.82,0.39,0.00,1.00,1.00,1.00,1.00
FLAG_WORK_PHONE,"356,255.00",0.20,0.40,0.00,0.00,0.00,0.00,1.00
FLAG_CONT_MOBILE,"356,255.00",1.00,0.04,0.00,1.00,1.00,1.00,1.00
FLAG_PHONE,"356,255.00",0.28,0.45,0.00,0.00,0.00,1.00,1.00
FLAG_EMAIL,"356,255.00",0.07,0.26,0.00,0.00,0.00,0.00,1.00
CNT_FAM_MEMBERS,"356,253.00",2.15,0.91,1.00,2.00,2.00,3.00,21.00
REGION_RATING_CLIENT,"356,255.00",2.05,0.51,1.00,2.00,2.00,2.00,3.00
REGION_RATING_CLIENT_W_CITY,"356,255.00",2.03,0.50,-1.00,2.00,2.00,2.00,3.00
HOUR_APPR_PROCESS_START,"356,255.00",12.06,3.27,0.00,10.00,12.00,14.00,23.00
REG_REGION_NOT_LIVE_REGION,"356,255.00",0.02,0.12,0.00,0.00,0.00,0.00,1.00
REG_REGION_NOT_WORK_REGION,"356,255.00",0.05,0.22,0.00,0.00,0.00,0.00,1.00
LIVE_REGION_NOT_WORK_REGION,"356,255.00",0.04,0.20,0.00,0.00,0.00,0.00,1.00
REG_CITY_NOT_LIVE_CITY,"356,255.00",0.08,0.27,0.00,0.00,0.00,0.00,1.00
REG_CITY_NOT_WORK_CITY,"356,255.00",0.23,0.42,0.00,0.00,0.00,0.00,1.00
LIVE_CITY_NOT_WORK_CITY,"356,255.00",0.18,0.38,0.00,0.00,0.00,0.00,1.00
EXT_SOURCE_1,"162,345.00",0.50,0.21,0.01,0.34,0.51,0.67,0.96
EXT_SOURCE_2,"355,587.00",0.51,0.19,0.00,0.39,0.56,0.66,0.85
EXT_SOURCE_3,"286,622.00",0.51,0.19,0.00,0.37,0.53,0.67,0.90
APARTMENTS_AVG,"176,307.00",0.12,0.11,0.00,0.06,0.09,0.15,1.00
BASEMENTAREA_AVG,"148,671.00",0.09,0.08,0.00,0.04,0.08,0.11,1.00
YEARS_BEGINEXPLUATATION_AVG,"183,392.00",0.98,0.06,0.00,0.98,0.98,0.99,1.00
YEARS_BUILD_AVG,"119,949.00",0.75,0.11,0.00,0.69,0.76,0.82,1.00
COMMONAREA_AVG,"107,895.00",0.05,0.08,0.00,0.01,0.02,0.05,1.00
ELEVATORS_AVG,"167,175.00",0.08,0.14,0.00,0.00,0.00,0.12,1.00
ENTRANCES_AVG,"177,848.00",0.15,0.10,0.00,0.07,0.14,0.21,1.00
FLOORSMAX_AVG,"179,914.00",0.23,0.15,0.00,0.17,0.17,0.33,1.00
FLOORSMIN_AVG,"115,147.00",0.23,0.16,0.00,0.08,0.21,0.38,1.00
LANDAREA_AVG,"145,411.00",0.07,0.08,0.00,0.02,0.05,0.09,1.00
LIVINGAPARTMENTS_AVG,"113,276.00",0.10,0.09,0.00,0.05,0.08,0.12,1.00
LIVINGAREA_AVG,"178,353.00",0.11,0.11,0.00,0.05,0.07,0.13,1.00
NONLIVINGAPARTMENTS_AVG,"109,394.00",0.01,0.05,0.00,0.00,0.00,0.00,1.00
NONLIVINGAREA_AVG,"160,489.00",0.03,0.07,0.00,0.00,0.00,0.03,1.00
APARTMENTS_MODE,"176,307.00",0.11,0.11,0.00,0.05,0.08,0.15,1.00
BASEMENTAREA_MODE,"148,671.00",0.09,0.08,0.00,0.04,0.07,0.11,1.00
YEARS_BEGINEXPLUATATION_MODE,"183,392.00",0.98,0.06,0.00,0.98,0.98,0.99,1.00
YEARS_BUILD_MODE,"119,949.00",0.76,0.11,0.00,0.70,0.76,0.82,1.00
COMMONAREA_MODE,"107,895.00",0.04,0.08,0.00,0.01,0.02,0.05,1.00
ELEVATORS_MODE,"167,175.00",0.08,0.13,0.00,0.00,0.00,0.12,1.00
ENTRANCES_MODE,"177,848.00",0.15,0.10,0.00,0.07,0.14,0.21,1.00
FLOORSMAX_MODE,"179,914.00",0.22,0.14,0.00,0.17,0.17,0.33,1.00
FLOORSMIN_MODE,"115,147.00",0.23,0.16,0.00,0.08,0.21,0.38,1.00
LANDAREA_MODE,"145,411.00",0.07,0.08,0.00,0.02,0.05,0.08,1.00
LIVINGAPARTMENTS_MODE,"113,276.00",0.11,0.10,0.00,0.05,0.08,0.13,1.00
LIVINGAREA_MODE,"178,353.00",0.11,0.11,0.00,0.04,0.07,0.13,1.00
NONLIVINGAPARTMENTS_MODE,"109,394.00",0.01,0.05,0.00,0.00,0.00,0.00,1.00
NONLIVINGAREA_MODE,"160,489.00",0.03,0.07,0.00,0.00,0.00,0.02,1.00
APARTMENTS_MEDI,"176,307.00",0.12,0.11,0.00,0.06,0.09,0.15,1.00
BASEMENTAREA_MEDI,"148,671.00",0.09,0.08,0.00,0.04,0.08,0.11,1.00
YEARS_BEGINEXPLUATATION_MEDI,"183,392.00",0.98,0.06,0.00,0.98,0.98,0.99,1.00
YEARS_BUILD_MEDI,"119,949.00",0.76,0.11,0.00,0.69,0.76,0.83,1.00
COMMONAREA_MEDI,"107,895.00",0.04,0.08,0.00,0.01,0.02,0.05,1.00
ELEVATORS_MEDI,"167,175.00",0.08,0.14,0.00,0.00,0.00,0.12,1.00
ENTRANCES_MEDI,"177,848.00",0.15,0.10,0.00,0.07,0.14,0.21,1.00
FLOORSMAX_MEDI,"179,914.00",0.23,0.15,0.00,0.17,0.17,0.33,1.00
FLOORSMIN_MEDI,"115,147.00",0.23,0.16,0.00,0.08,0.21,0.38,1.00
LANDAREA_MEDI,"145,411.00",0.07,0.08,0.00,0.02,0.05,0.09,1.00
LIVINGAPARTMENTS_MEDI,"113,276.00",0.10,0.09,0.00,0.05,0.08,0.12,1.00
LIVINGAREA_MEDI,"178,353.00",0.11,0.11,0.00,0.05,0.08,0.13,1.00
NONLIVINGAPARTMENTS_MEDI,"109,394.00",0.01,0.05,0.00,0.00,0.00,0.00,1.00
NONLIVINGAREA_MEDI,"160,489.00",0.03,0.07,0.00,0.00,0.00,0.03,1.00
TOTALAREA_MODE,"185,200.00",0.10,0.11,0.00,0.04,0.07,0.13,1.00
OBS_30_CNT_SOCIAL_CIRCLE,"355,205.00",1.43,2.60,0.00,0.00,0.00,2.00,354.00
DEF_30_CNT_SOCIAL_CIRCLE,"355,205.00",0.14,0.46,0.00,0.00,0.00,0.00,34.00
OBS_60_CNT_SOCIAL_CIRCLE,"355,205.00",1.41,2.58,0.00,0.00,0.00,2.00,351.00
DEF_60_CNT_SOCIAL_CIRCLE,"355,205.00",0.10,0.37,0.00,0.00,0.00,0.00,24.00
DAYS_LAST_PHONE_CHANGE,"356,254.00",-978.58,835.06,"-4,361.00","-1,592.00",-771.00,-286.00,0.00
FLAG_DOCUMENT_2,"356,255.00",0.00,0.01,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_3,"356,255.00",0.72,0.45,0.00,0.00,1.00,1.00,1.00
FLAG_DOCUMENT_4,"356,255.00",0.00,0.01,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_5,"356,255.00",0.02,0.12,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_6,"356,255.00",0.09,0.28,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_7,"356,255.00",0.00,0.01,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_8,"356,255.00",0.08,0.27,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_9,"356,255.00",0.00,0.06,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_10,"356,255.00",0.00,0.00,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_11,"356,255.00",0.00,0.06,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_12,"356,255.00",0.00,0.00,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_13,"356,255.00",0.00,0.06,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_14,"356,255.00",0.00,0.05,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_15,"356,255.00",0.00,0.03,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_16,"356,255.00",0.01,0.09,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_17,"356,255.00",0.00,0.02,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_18,"356,255.00",0.01,0.08,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_19,"356,255.00",0.00,0.02,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_20,"356,255.00",0.00,0.02,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_21,"356,255.00",0.00,0.02,0.00,0.00,0.00,0.00,1.00
AMT_REQ_CREDIT_BUREAU_HOUR,"308,687.00",0.01,0.08,0.00,0.00,0.00,0.00,4.00
AMT_REQ_CREDIT_BUREAU_DAY,"308,687.00",0.01,0.10,0.00,0.00,0.00,0.00,9.00
AMT_REQ_CREDIT_BUREAU_WEEK,"308,687.00",0.03,0.19,0.00,0.00,0.00,0.00,8.00
AMT_REQ_CREDIT_BUREAU_MON,"308,687.00",0.23,0.86,0.00,0.00,0.00,0.00,27.00
AMT_REQ_CREDIT_BUREAU_QRT,"308,687.00",0.30,0.79,0.00,0.00,0.00,0.00,261.00
AMT_REQ_CREDIT_BUREAU_YEAR,"308,687.00",1.91,1.87,0.00,0.00,1.00,3.00,25.00

In [ ]:
# Excluimos las variables numéricas para ver la distribución del resto de variables
df.describe(exclude=['int', 'float']).T

,count,unique,top,freq
TARGET,356255,3,0,282686
NAME_CONTRACT_TYPE,356255,2,Cash loans,326537
CODE_GENDER,356255,3,F,235126
FLAG_OWN_CAR,356255,2,N,235235
FLAG_OWN_REALTY,356255,2,Y,246970
NAME_TYPE_SUITE,354052,7,Unaccompanied,288253
NAME_INCOME_TYPE,356255,8,Working,183307
NAME_EDUCATION_TYPE,356255,5,Secondary / secondary special,252379
NAME_FAMILY_STATUS,356255,6,Married,228715
NAME_HOUSING_TYPE,356255,6,House / apartment,316513
OCCUPATION_TYPE,244259,18,Laborers,63841
WEEKDAY_APPR_PROCESS_START,356255,7,TUESDAY,63652
ORGANIZATION_TYPE,356255,58,Business Entity Type 3,78832
FONDKAPREMONT_MODE,113163,4,reg oper account,85954
HOUSETYPE_MODE,178339,3,block of flats,175162
WALLSMATERIAL_MODE,176021,7,Panel,77309
EMERGENCYSTATE_MODE,188291,2,No,185607

In [ ]:
profile=ProfileReport(df)

In [ ]:
profile

Summarize dataset:  51%|█████     | 65/127 [00:15<00:02, 24.82it/s, Describe variable:ENTRANCES_MODE]

:

:

In [17]:
pandas_profiling.__version__

NameError: name 'pandas_profiling' is not defined